/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-3-7, 13:50:08
    Author     : Vito
*/

/*******************************************************************************
 *
 * Banner管理
 *
********************************************************************************/
.banner-search .form .form-group .form-label {
    width: 16.66666667%
}

.banner-search .panel {
    padding: 15px 0px; 
    margin-bottom: 30px; 
    border: 1px solid #e4e4e4; 
    background: #f9f9f9;
}

.banner-view .nav-tabs {
    padding-left: 0 !important; 
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.banner-view .nav-tabs  > li {
    float: left;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}

.banner-view .nav-tabs  > li > a {
    margin-right: 0;
    border-radius: 0;
}

.banner-view .tab-content {
    padding: 15px; 
    border: 1px solid #ddd;
    border-top: none;
}

/*******************************************************************************
 *
 * 上传文件管理
 *
********************************************************************************/
.uploadfile-index .mc-tabs {
    display: inline-block;
    width: 100%;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
}

.uploadfile-index .mc-tabs > ul > li {
    float: left;
    margin-top: -2px;
}

.uploadfile-index .mc-tabs > ul > li > a {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    color: #999999;
    line-height: 48px;
    font-size: 14px;
}

.uploadfile-index .mc-tabs > ul > li.active > a {
    border-bottom: 2px solid #FC583D;
}

.uploadfile-index .mc-tabs > ul > li.active > a, .mc-title > ul > li:hover > a {
    color: #fc583d;
}

.uploadfile-index .mc-panel .pull-right {
    margin-bottom: 10px;
}

.uploadfile-index .table-bordered>thead>tr>th,
.uploadfile-index .table-bordered>tbody>tr>th,
.uploadfile-index .table-bordered>tfoot>tr>th,
.uploadfile-index .table-bordered>thead>tr>td,
.uploadfile-index .table-bordered>tbody>tr>td,
.uploadfile-index .table-bordered>tfoot>tr>td {
    padding: 8px 4px !important;
}

.uploadfile-index .table-bordered>tbody {
    font-size: 12px;
}